table, th, td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    width: 75%;
}

th {
    background: lightgreen;
}

.error {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
