<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title th:text="#{page.addbook.title}"></title>
</head>
<body>
<form th:action="@{/logout}" method="post">
    <input th:value="#{button.logout}" type="submit" />
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
</form>
<h1 th:text="#{page.addbook.heading.page}"></h1>
<form id="book-form" th:object="${book}" method="post">
    <input type="hidden" th:field="*{bookId}" />
    <p>
        <label th:text="#{page.addbook.label.book.name}"></label>
        <input type="text" th:field="*{name}" size="15"/>
        <span th:if="${#fields.hasErrors('name')}" th:errorclass="error" th:errors="*{name}"></span>
    </p>
    <p>
        <label th:text="#{page.addbook.label.book.isbn13}"></label>
        <input type="text" th:field="*{isbn13}" size="15"/>
        <span th:if="${#fields.hasErrors('isbn13')}" th:errorclass="error" th:errors="*{isbn13}"></span>
    </p>
    <p>
        <label th:text="#{page.addbook.label.book.price}"></label>
        <input type="number" th:field="*{priceInEuro}" step="0.01" onchange="formatInput(this)" size="15"/>
        <span th:if="${#fields.hasErrors('priceInEuro')}" th:errorclass="error" th:errors="*{priceInEuro}"></span>
    </p>
    <div th:each="location, status : *{bookLocations}">
        <input type="hidden" th:field="*{bookLocations[__${status.index}__].locationId}" />
        <input type="hidden" th:field="*{bookLocations[__${status.index}__].book}" />
        <p>
            <label th:text="#{page.addbook.label.bookLocation.locationName}"></label>
            <input type="text" th:field="*{bookLocations[__${status.index}__].locationName}"/>
            <span th:if="${#fields.hasErrors('bookLocations[__${status.index}__].locationName')}" th:errorclass="error"
                  th:errors="*{bookLocations[__${status.index}__].locationName}"></span>
        </p>
        <p>
            <label th:text="#{page.addbook.label.bookLocation.placeCode1}"></label>
            <input type="number" th:field="*{bookLocations[__${status.index}__].placeCode1}"/>
            <span th:if="${#fields.hasErrors('bookLocations[__${status.index}__].placeCode1')}" th:errorclass="error"
                  th:errors="*{bookLocations[__${status.index}__].placeCode1}"></span>
        </p>
        <p>
            <label th:text="#{page.addbook.label.bookLocation.placeCode2}"></label>
            <input type="number" th:field="*{bookLocations[__${status.index}__].placeCode2}"/>
            <span th:if="${#fields.hasErrors('bookLocations[__${status.index}__].placeCode2')}" th:errorclass="error"
                  th:errors="*{bookLocations[__${status.index}__].placeCode2}"></span>
        </p>
    </div>
    <div th:each="author, status : *{authors}">
        <input type="hidden" th:field="*{authors[__${status.index}__].authorId}" />
        <p>
            <label th:text="#{page.addbook.label.author.lastName}"></label>
            <input type="text" th:field="*{authors[__${status.index}__].lastName}"/>
            <span th:if="${#fields.hasErrors('authors[__${status.index}__].lastName')}" th:errorclass="error"
                  th:errors="*{authors[__${status.index}__].lastName}"></span>
        </p>
        <p>
            <label th:text="#{page.addbook.label.author.firstName}"></label>
            <input type="text" th:field="*{authors[__${status.index}__].firstName}"/>
            <span th:if="${#fields.hasErrors('authors[__${status.index}__].firstName')}" th:errorclass="error"
                  th:errors="*{authors[__${status.index}__].firstName}"></span>
        </p>
    </div>
    <button th:text="#{page.addbook.button.addAuthor}" type="button" id="add-author-button"
            onclick="addAuthorRow()"></button>
    <button th:text="#{page.addbook.button.addLocation}" type="button" id="add-location-button"
            onclick="addLocationRow()"></button>
    <button th:text="#{page.addbook.button.submit}" type="submit"></button>
    <input type="hidden" name="addAuthor" id="addAuthorInput"/>
    <input type="hidden" name="addLocation" id="addLocationInput"/>
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    <div th:if="${#fields.hasErrors()}" class="error">
        <h3 th:text="#{page.addbook.heading.error}"></h3>
        <ul>
            <li th:each="err: ${#fields.allErrors()}" th:text="${err}"/>
        </ul>
    </div>
</form>
<script>
    function addAuthorRow() {
        document.getElementById('addAuthorInput').value = true;
        document.getElementById('book-form').submit();
    }

    function addLocationRow() {
        document.getElementById('addLocationInput').value = true;
        document.getElementById('book-form').submit();

    }

    function formatInput(input) {
        const value = input.value;
        const formattedValue = parseFloat(value).toFixed(2);
        input.value = formattedValue;
    }
</script>
<script th:inline="javascript">
    let currentUrl = window.location.href;
    let actionUrl = currentUrl.includes('/update/') ? '/update/' + [[${book.isbn13}]] : '/registerbook';
    document.getElementById('book-form').action = actionUrl;

    document.getElementById('addAuthorInput').value = false;
    document.getElementById('addLocationInput').value = false;

    let authorCount = [[${book.authors.size()}]];
    if (authorCount >= 3)
        document.getElementById("add-author-button").style.display = "none";

    let locationCount = [[${book.bookLocations.size()}]];
    if (locationCount >= 3)
        document.getElementById("add-location-button").style.display = "none";
</script>
</body>
</html>